@font-face {
  font-family: 'Metropolis-Light';
  src: url('../fonts/Metropolis-Light.otf');
}
@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('../fonts/Metropolis-SemiBold.otf');
}
@font-face {
  font-family: 'Metropolis-Regular';
  src: url('../fonts/Metropolis-Regular.otf');
}
@font-face {
  font-family: 'Metropolis-Medium';
  src: url('../fonts/Metropolis-Medium.otf');
}
@font-face {
	font-family: 'Metropolis-Thin';
	src: url('../fonts/Metropolis-Thin.otf');
}

